<div class='header'>
  <div class="container">
    <div class="logo">
      <a href="{{ site.baseurl }}"> <h1 class="font-logo">BIAS <span style='color: #2f2f41; font-size: 1.3rem; font-family: sans-serif' >responsible AI</span></h1></a>
    </div>
    <div class="logo-mobile">
      <a href="{{ site.baseurl }}"><h1 class="font-logo">BIAS <span style='color: #2f2f41; font-size: 1.3rem; font-family: sans-serif' >responsible AI</span></h1></a>
    </div>
    {% include main-menu.html %}
    {% include hamburger.html %}
  </div>
</div>
